<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <div style="text-align: center;">
        <h3>UserName : <%= locals.results.login %></h3>
        <h3>Name : <%= locals.results.name %></h3>
        <h3>Public Repos : <%= locals.results.public_repos %></h3>
        <h3>Followers : <%= locals.results.followers %></h3>
        <h3>Following : <%= locals.results.following %></h3>
    </div>
</body>
</html>